<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentFTP" version="29.0.3" targetFramework="net462" />
  <package id="MegaApiClient" version="1.7.1" targetFramework="net46" />
  <package id="MessagePack" version="2.1.80" targetFramework="net462" />
  <package id="MessagePack.Annotations" version="2.0.335" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net46" />
  <package id="SharpCompress" version="0.24.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net462" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net462" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net462" />
</packages>