<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.13.5" targetFramework="net462" />
  <package id="MessagePack" version="2.0.323" targetFramework="net462" />
  <package id="MessagePack.Annotations" version="2.0.323" targetFramework="net462" />
  <package id="Mono.Cecil" version="0.11.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net462" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>